@font-face {
  font-family: cuprum;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
  font-family: cuprum;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
  font-family: cuprum-italic;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff") format("woff"),
			 url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-family: cuprum;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
  font-family: ptsans;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: ptsans;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  margin: 0;
	padding: 0;	
	font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 17px;
}

.main-header {
	display: flex;
	flex-direction: column;
	min-height: 320px;
	align-items: center;
  background-color: #f4f7f9;
  margin: 0 auto;
  margin-bottom: 59px;
}

.main-header-container {
  width: 100%;
  height: 42px;
  background-color: #293449;
  color: white;
}

.main-header-top {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  
	display: flex;
	align-items: flex-start;
}

.tehnomart-logo {
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.tehnomart-logo:hover {
  background-color: #ca2c37;
}

.tehnomart-logo:active {
  background-color: #ba2732;
}

.searchbar {
  display: flex;
  align-items: center;
  width: 286px;
  height: 42px;
  line-height: 42px;
  border: 0;
  color: #ffffff;
  flex-grow: 1;
}

.searchbar::before {
  content: "";
  height: 17px;
  width: 17px;
  display: inline-block;
  background-image: url(../img/icon-search.svg);
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.3;
}

.top-btn {
  display: flex;
  align-items: center;
  height: 42px;
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.favorites:hover::before,
.basket:hover::before{
  opacity: 1;
}

.favorites:active::before,
.basket:active::before{
  opacity: 0.3;
}

.top-btn:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}



.favorites::before {
  content: "";
  width: 14px;
  height: 16px;
  display: inline-block;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  margin-right: 13px;
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  margin-right: 13px;
}

.order {
  display: flex;
  align-items: center;
  height: 42px;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.main-header-middle {
  display: flex;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 41px;
  
}

.main-title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.44;
  text-align: left;
  color: #ee3643;
  font-style: italic;


}

.main-address {
  font-style: normal;
  font-size: 14px;
  color: #32425c;
  text-align: center;  
}

.main-phone {
  display: flex;
  align-items: center;
  width: 264px;
  height: 39px;
  border: solid 3px #ffffff;
  font-size: 21px;
  color: #ee3643;
  margin-bottom: 10px;
  line-height: 39px;
}

.main-phone:before {
  content: "";
  height: 19px;
  width: 19px;
  display: inline-block;
  background-image: url(../img/icon-phone.svg);
  margin-left: 10px;
  margin-right: 40px;
}

.btn {
  display: flex;
  height: 45px;  
  font-size: 21px;
  color: black;
  background-color: white;
  text-decoration: none;
  align-items: center;
  padding: 0 25px;
}

.btn-login {
  margin-right: 10px;
  padding-left: 14px;
}

.btn-login svg {
  margin-right: 13px;
  color: #c5c5c5;
  
}

.btn:hover {
  color: #ee3643;
}

.btn:hover svg {
  color: #32425c;
}

.btn:active svg {
  color: #c5c5c5
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}


.main-nav {
  width: 940px;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 60px;
}

.main-nav-item {
  flex-grow: 1;
  text-align: center;
}

.main-nav-item a {
  display: inline-block;  
  text-decoration: none;
  color: #ffffff;
  padding: 20px 30px;
}

.main-nav-item a:hover,
.main-nav-item a:focus {
  background-color: #293449;
}

.main-nav-item a:active {
  color: #f1f5f7;
  background-color: #1d2739;
}

.user-menu {
  display: flex;

}


/**********************************************************
ОСНОВНАЯ ЧАСТЬ
**********************************************************/

.vista {
  display: flex;
  width: 940px;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

.duble .vista-item {
  margin-right: 0;
  display: flex;
}

.vista-list {
  display: flex;
  flex-wrap: wrap;
}

.vista-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  height: 130px;
  background-color: silver;
  margin-right: 20px;
  margin-bottom: 20px;
}

.vista-item h3 {
  color: white;
  margin-left: 23px;
  margin-top: 26px;
  font-size: 24px;
  
}

.vista-item a {
    
  height: 38px;
  align-self: baseline;
  padding: 0 24px;

  font-size: 14px;
  line-height: 38px;
  color: white;

  text-decoration: none;
  text-transform: uppercase;
  margin-left: 23px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.vista-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.vista-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.vista-1 {
  background: #ffbf47 url(../img/icon-1-materials.svg) 85% 50% no-repeat;
}

.vista-2 {
  background: #3bbce3 url(../img/icon-2-instruments.svg) 85% 50% no-repeat;
}

.vista-3 {
  margin-right: 0;
  background: #dc91d8 url(../img/icon-3-equipment.svg) 85% 50% no-repeat;
}

.vista-4 {
  background: #8ed78f url(../img/icon-4-sale.svg) 85% 50% no-repeat;
}


.vista-5 {
  background: #ffc047 url(../img/icon-5-delivery.svg) 85% 50% no-repeat;
  margin-bottom: 0;
}

.vista-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 620px;
  height: 280px;
  margin-right: 20px;
  background-image: url(../img/slide-image-1.jpg);
  background-size: cover;
}

.vista-slider .vista-slider-title {
  width: 620px;
  height: 105px;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  
}

.vista-slider-title h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: white;
  margin: 0;
  margin-top: 27px;
  margin-left: 24px;
  text-transform: uppercase;

}

.vista-slider-title span {
  font-family: ptsans, Arial, sans-serif;
  color: white;
  margin-top: 8px;
  margin-left: 24px;

}

.promo-slider-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 16px;
}

.promo-slider-nav button {
  display: none;
}

.promo-slider-nav label {
  display: flex;
  width: 40px;
  height: 80px;
}


.slider-right + label::before {
  content: "";
  position: absolute;
  top: 40px;
  right: 24px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-right.svg);
}

.slider-left + label::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 24px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-left.svg);
}


.promo-slider-nav label:hover {
  opacity: 0.75;
}

.promo-slider-nav label:active {
  opacity: 0.65;
}


.vista-slider a {
  height: 38px;
  align-self: baseline;
  padding: 0 45px;
  margin-top: 58px;
  margin-left: 23px;
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 38px;
  color: white;

  text-decoration: none;
  text-transform: uppercase;
  
  background-color: #ee3643;
  border-radius: 4px;
}

.vista-slider a:hover {
  color: white;
  background-color: #ca2c37;
}

.vista-slider a:active {
  color: white;
  background-color: #ba2732;
}

/*
Футер
*/

.main-footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #32425c;
  width: auto;
  min-height: 300px;
}

.main-footer-top .tehnomart-logo {
  display: flex;
  height: 68px;
  justify-content: center;
  align-items: center; 
}

.footer-nav-list,
.vista-nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 560px;

}

.footer-nav-item a {
  margin-left: 58px;
  color: white;
  text-decoration: none;
}

.vista-nav-list a {
  margin-left: 58px;
  color: #ffd180;
  text-decoration: none;
}

.footer-nav-item a:hover,
.vista-nav-list a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active,
.vista-nav-list a:active {
  opacity: 0.5;
}

.main-footer-top,
.main-footer-mid,
.main-footer-bot {
  display: flex;
  width: 940px;
  margin: 0 auto;
  align-items: center; 
  justify-content: space-between; 
}

.main-footer-mid {
  align-items: flex-start;
  align-content: flex-start;
}

.footer-container {
  width: auto;
  height: 100%;
  background-color: #293449;
  flex-grow: 1;
}

.main-footer-mid {
  align-items: flex-start;
  margin-top: 32px;
  margin-bottom: 32px;
}

.main-footer-mid address {
  font-style: normal;
  line-height: 1.33;
}


.main-footer-bot p {
  font-size: 16px;
  line-height: 1.13;
}

.footer-social {
  display: flex;
  list-style: none;
  
}
.social-btn li {  
  width: 0;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
}

li .social-btn::after {
  content: "";
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  margin-right: 3px; 
}

.social-btn:hover::after{
  background-color: #ee3643;
} 

li:nth-child(1) .social-btn::after {
  background-image: url(../img/icon-vk.svg);
}

li:nth-child(2) .social-btn::after {
  background-image: url(../img/icon-fb.svg);
}

li:nth-child(3) .social-btn::after {
  background-image: url(../img/icon-insta.svg);
}

.main-footer-mid-nav a,
.main-footer-bot a {
  color: #ffd180;
}

.main-footer-mid-nav a:hover,
.main-footer-bot a:hover {
  text-decoration: none;
}

.main-footer-mid-nav a:active,
.main-footer-bot a:active {
  color: #ee3643;
  text-decoration: none;
}

.new-flag-item::before {
  content: "";
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/new-flag-item.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}