@font-face {
  font-family: cuprum;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
  
  font-family: cuprum;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
  
  font-family: cuprum;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff") format("woff"),
       url("../fonts/cuprumitalic.woff2") format("woff2");
  
  font-family: cuprum;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff") format("woff"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
  font-family: ptsans;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");

  font-family: ptsans;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  
  
}

a {
  font-size: 10px;
  text-decoration: none;
}

/**.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}