@font-face {
    font-family: cuprum;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/cuprum.woff") format("woff");
    src: url("../fonts/cuprum.woff2") format("woff2");

    font-family: cuprum;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/cuprumbold.woff") format("woff");
    src: url("../fonts/cuprumbold.woff2") format("woff2");

    font-family: cuprum;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/cuprumitalic.woff") format("woff");
    src: url("../fonts/cuprumitalic.woff2") format("woff2");

    font-family: cuprum;
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/cuprumbolditalic.woff") format("woff");
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
    font-family: ptsans;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans.woff") format("woff");
    src: url("../fonts/ptsans.woff2") format("woff2");

    font-family: ptsans;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ptsansbold.woff") format("woff");
    src: url("../fonts/ptsansbold.woff2") format("woff2");
}